
input[type=submit]{cursor: pointer;}

#site-navigation>.nav-menu>.menu-item{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
    transition: all .4s;
}

#site-navigation>.nav-menu>.menu-item:hover{
    color: #cb0802;
    border-bottom-color: #cb0802;
}

#site-navigation>.nav-menu>.menu-item.has-child::after{
    font-family: xeicon;
    content: "\e942";
}

#searchForm{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*jquery datepicker*/
 .ui-datepicker.ui-widget.ui-widget-content {
    padding: 0.5rem;
    background: #fff;
	border: 1px solid #716f6e;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
    font-size: 15px;
    text-align: center;
    position: relative;
}

.ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

 .ui-datepicker .ui-datepicker-title {
	margin-top: .4em;
	margin-bottom: .3em;
    color: #222020;
}

 .ui-datepicker .ui-datepicker-prev-hover,
 .ui-datepicker .ui-datepicker-next-hover,
 .ui-datepicker .ui-datepicker-next,
 .ui-datepicker .ui-datepicker-prev {
	top: .9em;
	border:none;
}

 .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

 .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

 .ui-datepicker .ui-datepicker-next span,
 .ui-datepicker .ui-datepicker-prev span {
	margin-top: 0;
	top: 0;
    font-weight: normal;
    background: none;
    position: absolute;
}

.ui-datepicker .ui-datepicker-next span{
    right: 0;
}
.ui-datepicker .ui-datepicker-prev span{
    left: 0;
}

.ui-datepicker .ui-datepicker-prev span::after {
    font-family: xeicon;
    content: '\e93c';
    color: #333;
}

.ui-datepicker .ui-datepicker-next span::after {
    font-family: xeicon;
    content: '\e93f';
    color: #333;
}


 .ui-datepicker table {
	margin: 0;
}

 .ui-datepicker th {
	padding: 1em 0;
	color: #222020;
	font-size: 13px;
	border: none;
}

.ui-datepicker td {
	background: #fff;
	border: none;
    padding: 0;
    text-align: center;
} 

.ui-datepicker td a{
    display: block;
    padding: .5rem;
    margin: 0;
    border-radius: 50%;
}

.ui-datepicker.ui-widget-content .ui-state-default {
	background: transparent;
    text-align: center;
    border: none;
	font-weight: normal;
	color: #222020;
	font-size: 1rem;
}
.ui-datepicker.ui-widget-content .ui-state-disabled .ui-state-default{
    display: block;
    padding: 0.5rem;
}
.ui-datepicker.ui-widget-content td .ui-state-active,
.ui-datepicker.ui-widget-content td .ui-state-hover {
    background: #cb0802;
    color: #fff;
}

 .ui-state-disabled  {
	opacity: 1;
}

/*罹좏럹�씤 �긽�꽭*/
.campaign-slider,
.campaign-slider .slide img{height: 400px;}
.progress{
	height: 6px;
}

.campaign-slider-arrow{
    top: 175px;
    font-size: 36px;
    opacity: 0.9;
}
.campaign-slider-nav .slider-nav-item{
    transition: all .3s;
    opacity: 0.5;
}
.campaign-slider-nav .slider-nav-item.active{
    opacity: 1;
}

.campaign-tab-nav .sticky-btn-donate{display: none;}
.campaign-tab-nav.sticky{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #c0bebd;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.campaign-tab-nav ul{
    transition: all .4s;
}

.campaign-tab-nav.sticky .sticky-btn-donate{display: inline-block;}

.campaign-tab-nav.sticky ul{
    padding: 0;
}

.campaign-tab-nav>ul>.tab-item{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
    transition: all .4s;
}

.campaign-tab-nav>ul>.tab-item.active,
.campaign-tab-nav>ul>.tab-item:hover{
    color: #cb0802;
    border-bottom-color: #cb0802;
}

.campaign-tab-content .tab-content-item{
    display: none;
}

.campaign-tab-content .tab-content-item.active{
    display: block;
}

.campaign-tab-content #story p,
.campaign-tab-content #updates .update-content p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#updates .campaign-update{
    padding-left: 38px !important;
    border-left: 3px solid #e7e7e7;
}

#updates .campaign-update span.round-circle {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #e7e7e7;
    display: block;
    margin-left: -50px;
    transition: 400ms;
    -webkit-transition: 400ms;
}

#updates .campaign-update li:hover span.round-circle{
    background: #cb0802;
}

.rewards .reward-item .overlay .donate-this{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rewards .reward-item .overlay:hover{
    opacity: 0.9;
}

.add-wishlist .wishlist-ico::after{
    font-family: xeicon;
    content: "\ea11";
}
.add-wishlist.added-this .wishlist-ico::after{
    color: #cb0802;
    content: "\ea10";
}