@charset "UTF-8";

.notice_menu_item{
	margin-top:10px;
	width:120px;
	height:50px;
}   
.notice_menu_item>a{
	margin:0 auto;
	text-align:center;
	width:120px;
	height:50px;
	line-height:47px; 
}
.card{ 
	width:800px; 
}
.notice-menu{
	margin-left:80px;  
} 
 
.notice_img{  
	height:200px;
	width: 270px; 
}
.notice_img_box{ 
    margin-left: 10px;
	height:200px;
	width:270px;  
} 
 
.admin_name>p{ 
	line-height: 62px;
}