@charset "UTF-8";


 .xi-quicktime{
 	color:red;
 }
.accordion-box > ul{
	list-style: none;
}  
.accordion-box{
  width: 100%; 
  max-width: 1280px;
  margin:  0 auto;
  margin-bottom:10px;
}
p.title{ 
  width: 100%;   
  line-height: 60px; 
  background: #faf8f7;   
  color: black;  
  box-sizing: border-box;
  padding: 0 10px; 
  text-align:left; 
  border-bottom:1px solid black;
}   
.answer{
  padding: 20px;
  margin-bottom:10px;
  display:none; 
} 
#serviceCenterNavDiv > span{
	font-size:1.3em; 
	line-height:58px; 
	margin-left:400px;
	color:#e6e4e4; 
}
  
.questionTextArea{
	margin-left:230px;
}

/*페이징*/
.paging .hide {
	display:block;
	height:0;
	width:0;
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
	overflow:hidden;
}

.paging{
	padding:19px;
	text-align:center;
}

.paging a{
	display:inline-block;
	width:23px;
	height:23px;
	padding-top:2px;
	vertical-align:middle;
}

.paging a:hover{
	text-decoration:underline;
}

.paging .btn_arr{
	text-decoration:none;
}

.paging .btn_arr, .paging .on{
	margin:0px 3px;
	padding-top:0;
	border:1px solid #ddd;
	border-radius:30px;

/* background:url(/front/img/com/btn_paging.png) no-repeat; */
}

.paging .on{
	padding-top:1px;
	height:22px;
	color:#fff;
	font-weight:bold;
	background:#f52c38; 
}

.paging .on:hover{
	text-decoration:none;
}

.quetionBoard{ 
	width:800px; 
	margin-left:230px;   
} 

/*questionBox_accordion*/
  
.questionBox_accordion > ul{
	list-style: none;
}  
.questionBox_accordion{
  width: 750px;
  margin-left:100px;
}
input.questionBox_title{ 
  width: 388px; 
  font-size:15px;
  height:30px; 
  line-height: 29px;   
  color: black;  
  box-sizing: border-box;
  padding: 0 10px;
}   
.q_title_box{
	margin-left:300px;   
} 
.questionBox_title {
	width:400px;
	margin-left:85px;
}
.adminAnswer_text,
.questionBox_answer{
  margin-top:8px;
  padding: 20px;
  width: 580px; 
  border:2px solid gray;
  display:none;
}
.adminAnswerBox{
	margin-left: 500px; 
}
.userId_box,.userPw_box{
	width:100px; 
	margin-left:700px;
}
.SecretCheck{ 
	margin-left:880px;    
} 
#resisterInput{
	margin-left:30px;
	font-weight:bold;
	margin-bottom:40px;
}

.q_no_userId{ 
	margin-left:407px; 
}
.main_title{ 
	height: 20px;
    line-height: 80px;
    font-size:35px; 
	font-weight:bold; 
	margin-left:200px; 
	margin-bottom: 60px;
}
.repeatQuestion{   
	font-size:35px; 
	font-weight:bold;
	margin-left:200px; 
	margin-bottom: 60px;
}  
.middle_img_box{
	background-color:rgb(221,75,57);
}
.middle_img{
	width:200px;
	margin-left:50px; 
}  

.middle_card{ 
	margin-left:230px; 
	width:300px;
}

