@charset "UTF-8";
/* #mainImgDiv{
	height:450px;
} 
  */
/*#otherCampaign{
	height:500px;
} 
#preCamDiv, #deadlineDiv{
	height:500px;
}  */
#siteReisterBanner{ 
	margin-top: 110px;
	margin-bottom:110px;
	height:350px;   
	background-image: url("/project_Ma/img/img_main/hands.jpg");
}    
/* 
==================================
	slick~main image
	*/
.slider{
	width:100%; 
	height:500px;  
	position:relative;
	margin:0px auto; 
}

#mainImgDiv .slide-img{
	height:450px;
}
.slider img{
	margin:0px auto;
/*	margin-top:3%;   
	width:50%;     
	height:400px;   */  
}
#mainImgDiv .slick-slide{
  width:100%;
  height:450px;   	
}
#mainImgDiv div>.slider{
	height:450px; 
}
#mainImgDiv div>.slider>ul{
	position:absolute; 
	top:90%;
}
#mainImgDiv .slide-text {
	left:100px;
	bottom:48px;
}
.slick-dots li{
	top:10%;
}
.slick-dots li button:before{
	font-size:20px; 
	margin:0px auto;  
} 
.slick-dots li.slick-active button:before{
	color:#fff;
	font-size:20px;  
}
    
#mainImgDiv div>.slider>.slick-prev_01 {
    position: absolute;
    line-height:10px;
    z-index: 10;
    width: 51px; 
    height: 100px;
    top: 175px;
    left: 1%;
    padding: 5px;
    font-size:40px;
    background: #222020;  
    color: #fff;
    opacity:0.7;
}

.xi-angle-left-min,
.xi-angle-right-min{
	margin-top: -5px;
    margin-left: -4px;
}  
#mainImgDiv div>.slider>.slick-next_01{ 
	position: absolute;
    z-index: 10;
    top: 175px;
    width: 51px; 
    height: 100px; 
    right: 1%; 
    line-height:10px; 
    padding: 5px;
    font-size:40px;
    background: #222020;  
    color: #fff; 
    opacity:0.7;
} 
/* 
==================================
*/
.percentage{
	border-bottom:1px solid red;
	font-weight:bold;
}
#mid_cam_01, #mid_cam_02, #mid_cam_03{
	height: 350px;
}  
.mid_cam_img{
	width:95%;
	height:245px; 
}
.mid_cam_name,.pre_date{
	width:95%;
	height:25px;
}
#nowCampaign{
	height: 435px;
}
#moreButton{
	margin-left: 920px;
	font-size:16px;
	color:gray;
	line-height:25px; 
}
#mainMoreDiv_01{ 
	width:100%;
	height: 70px;
	color: gray;  
    margin-top: 70px;
}
#pre_open_div{
	margin-left: 21px;
    margin-top: 70px;
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 35px;
    font-weight: bold;
}
#mid_title_word_02{
	font-size:16px;
	margin-left:21px;
}
#mid_title_word_02>a,
#mid_title_word>a{
	color:danger-light; 
}
.mid_title{
	color:rgb(29,33,41);
	font-size: 35px;
    width: 100%;
    height: 100px; 
    line-height: 37px; 
    margin-left: 17px;
    font-weight:bold; 
}   
/*==============
	slick 오픈예정부분
=======*/

.carousel_Div{
	margin-top:10px;
	height:350px; 
}
.carou_cam_img{
	width:80%;
	height:180px;
}
.carou_cam_name{
	font-size:1.6em; 
	width:100%; 
	height: 40px;
	text-align:center; 
}  
.carou_cam_date{
	width:100%; 
	height:30px;
	text-align:center;
	margin-top:3px; 
} 
#carousel_Slick > .slick-list>.slick-track>.slick-slide>div>.carousel_Div{
	padding:0 30px;
	width:90%; 
}
.carousel-btn-wrap .slick-next_02{
     font-size:40px;
     z-index: 100;
     top: 0px;
     left: 735px; 
     width:50px; 
     background:white; 
     color:#f52c38; 
     box-shadow: 0 0 10px rgb(255,255,255,0.8);
     height: 40px;
}
.carousel-btn-wrap .slick-prev_02{
	 font-size:40px;
	 z-index:100; 
	 top: 452px;   
     left: 685px;    
     width:50px;
     background:white;
     color:#f52c38;  
     box-shadow: 0 0 10px rgb(255,255,255,0.8);
     height: 40px;
}
button:focus {
    outline: 0;
}
 
 /*=====================
  	마감임박, 오픈예정~이미지 등
  */
#dead_Line_Div{ 
	margin-left: 21px;
	margin-top: 70px;
    margin-bottom: 15px;
    width: 350px;
    line-height: 30px;
    font-size: 35px;
    font-weight: bold;	
}  
.d_box , .d_Img{
	height:100px;
	margin-right:5px; 
}  
  
.d_Img{
	margin-top:10px;
} 
.d_Img > a >img{  
	width:100%;
	height:100px; 
}
#dead_scroll_Div{
	height: 380px;    
}
.mid_cam_img > img{
	height:262px;  
}
.carou_cam_img > img{
	width:100%; 
	height:176px; 	    
} 

.mid-genre{
	width:130px;
	text-align:center;
	color:gray;
	line-height:36px; 
	font-size:0.8em;	
} 
.mid_D_day{
	text-align:center;
	line-height:22px;
	font-size:0.8em; 
}
.mid_cam_name{
	font-size:1.4em; 
	margin:0px auto;
	text-align:center;
}
/*

달성도 bar
	mid부분(main 부분)
*/

.mid_bar_div{
	width:202px;     
}
#mid_emptyBar_01,
#mid_emptyBar_02,
#mid_emptyBar_03{
	margin-top:15px; 
	width:200px;  
	background-color:#e4eef2;
}
#mid_colorBar_01{
	margin-top:-1px;
	margin-left:-1px;
	width:50%;  
}

#mid_colorBar_02{
	margin-top:-1px;
	margin-left:-1px;
	width:85%;   
} 
#mid_colorBar_03{
	margin-top:-1px;
	margin-left:-1px;
	width:75%;   
}  
/*d-color*/
.d_box{  
	margin-top: 5px; 
}
#d_colorBar_01{
 	margin-top:-1px;
 	width:75%;  
 	margin-left:-1px;
 	text-align: center;
 } 
 .d_camName {
 	text-align: right;
    margin-left: -20px;
    height: 25px; 
 }   
 .d_camName > span{
 	font-weight:bold;
 	font-size:14px; 
 	color: #f52c38;
 	border-bottom:#f52c38;  
 } 
 .d_camTitle{
 	padding-right:20px;
 	font-size:1.5em;  
 	text-align:right;
 }
  #d_colorBar_02{
  	margin-top:-1px;
  	width:50%;   
  	margin-left:-1px;
 }
  #d_colorBar_03{
  	margin-top:-1px;
  	width:85%;  
  	margin-left:-1px;
 }
  #d_colorBar_04{
  	margin-top:-1px;
  	width:15%; 
  	margin-left:-1px;
 }
  #d_colorBar_05{
  	margin-top:-1px;
  	width:45%; 
  	margin-left:-1px;
 }
 .d_camBar{  
 	margin-top:8px;
 	height: 1px; 
 }
  
#d_emptyBar_01,
#d_emptyBar_02,
#d_emptyBar_03,
#d_emptyBar_04,
#d_emptyBar_05{
	margin-top:10px; 
	background-color:#e4eef2;
}

.remainDay{
	margin-left:140px;
	font-weight:bold;
	font-size:0.8em; 
} 
   
#resisterInput{    
	margin-left: 530px;
    margin-top: 30px;
    width: 200px;
    font-size: 1.6em;
}   
#resisterInput_02{     
	margin-left: 180px;
    margin-top: 58px;  
    width: 200px;
    font-size: 1.6em;
} 
#mid_title_word{
	font-size:16px; 
	margin-left:21px; 
}
#banner_ment_01{
	color:white;
	font-size:2em;
	text-align:center;
	padding-top:100px;
	 
} 
#banner_ment_02{
	color:white;
	font-size:1.4em;
	text-align:center; 
	font-weight:bold;	
}


/*유튜브*/ 
.youtube{
	margin-top:30px; 
}   
#player {  
	margin-top: 95px;
	margin-left:70px;     
	width:600px;
    padding-top: 80px; 
    padding-bottom: 70px;
    opacity:0;
}

 
.youtube_ment_01>span{
	color:#f52c38;
	line-height: 40px;
	width:600px;
    padding-top: 50px;
    padding-bottom: 70px;
    font-size:50px;
    font-weight:bold;
}
.article{ 
	 transform: scale(1);
  	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-ms-transform: scale(1);
  	-o-transform: scale(1);
  	transition: all 0.3s ease-in-out; 
}
.article:hover{
   	 transform: scale(1.2);
 	-webkit-transform: scale(1.2);
  	-moz-transform: scale(1.2);
  	-ms-transform: scale(1.2);
  	-o-transform: scale(1.2);
} 
  
  
  
  
  
  
  
  
  /*유튜브 부분*/
.youtube_ment_01{
	margin-bottom:10px;
	line-height: 30px;
	width:600px;
    padding-top: 70px;  
    padding-bottom: 70px;
    font-size:20px; 
}
 
.youtube_ment_01{ 
	opacity:0; 
	margin-left:-1200px;     
}

#article_title{
	line-height: 30px;
	font-size:35px;
	font-weight:bold;	 
}
#article_title p{
	padding-left:20px;
}
#article_mini_ment{
	font-size:16px;
	margin-left:20px; 
}

.page_up_div{
	display:block;
	position:fixed;
	bottom:180px;
	right:5px;    
	 	
}

